
body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 20px;
}
.container {
    color: red;
}

.container  div {
    margin: 0;
    padding: 0;
    height: 100%;
}

 button {
    background: red;
    margin: 0px !important;
    padding: 0px;
    border: none;
    height: 34px;
    width: 34px;
}
